@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
  --primary-color: #4B43A3;
  --active-btn-color: #48A59D;
  --text-color: #232340;
  --dark-grey-color: #8C8A9F;
  --light-grey-color: #E3E0F3;
  --purple-color: #726EBC;
  --white-color: #fefefe;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 120vh;
  background-color: var(--primary-color);
}

main{
  max-width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.container{
  padding: 1rem;
  margin: 1rem 2rem;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.btn-container{
  border: 3px solid var(--light-grey-color);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-btn{
  padding: 0.8rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.active-btn{
  background-color: var(--active-btn-color);
  color: var(--white-color);
}

.info-container{
  margin: 1.5rem 2rem;
}

h4{
  color: var(--dark-grey-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.title{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem 0;
  font-weight: 800;
}

p{
  font-weight: 600;
}

.list-div p{
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check-mark{
  color: var(--primary-color);
  width: 1rem;
  height: 1rem;
}

.cart-btn{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  body{
    height: 0;
  }
  main{
    height: 100vh;
  }
  .container{
    min-height: 70vh;
  }
  .btn-container{
    flex-wrap: nowrap;
  }
}